.gameCard {
    border: 3px solid #000;
    border-radius: rem(36);

    &:hover {
        /* transform: scale(1.03); */
        animation: jiggle-subtle 1s ease-in-out 0s  normal forwards;
    }
}


@keyframes jiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
}


@keyframes jiggle-intense {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(3deg);
    }
}


@keyframes jiggle-subtle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0.5deg);
    }
    50% {
        transform: rotate(-0.5deg);
    }
    75% {
        transform: rotate(0.5deg);
    }
}
