.primary {
    background-color: blue;
    color: white;
}

.secondary {
    background-color: gray;
    color: white;
}

.tertiary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
