.stack {
    color: #fff;
}

.titleText {
    margin-top: var(--mantine-spacing-xl);
    font-size: var(--mantine-font-size-lg);
    font-weight: 600;
    padding-top: var(--mantine-spacing-xl);
    text-align: center;
    color: #fff;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.center {
    margin-bottom: var(--mantine-spacing-xl);
}

.smallText {
    font-size: var(--mantine-font-size-sm);
    font-weight: 600;
    text-align: center;
}
